
.page-header__container {
    position: relative;
}

.main-navigation {

    position: absolute;
    right: 0;
    z-index: 1000;


    &__list {
        background-color: #f0f0f0;
        text-align: left;
        padding: 0;
        padding: 10px 0 5px 10px;
        margin: 10px 0 0 0;
    }

    &__list-item {
            margin-bottom: 15px;
    }


    @media screen and (min-width: $lg-break-point) {

        position: static;
        
        &__list {
      
            background-color: inherit;
        }

        &__list-item {
            margin-right: 40px;
        }
        
    }

}
